/* Top navigation bar */
.top-head{
    background-color: #7a7a7a;
}
.active{
    background-color: white;
}
.navbar{
    padding: 0;
    height: 2.9em;
    padding-left: 10%;
    left: 0;
    width: 100%;
}
.nav-item{
    text-align: center;
}

.top-logo{
    width: 6em;
}

.nav-item img{
    object-fit: cover;
}

.item{
    background-color: red;
    height: 2.9em;
    width: 10em;
    margin-right: 10em;
    vertical-align: baseline;
    padding-top: 10px;
}

.item a{
    text-decoration: none;
    color: white;
}

.isiItem{
    background-color: white;
    outline: grey;
    box-shadow: 0px 2px 5px #ccc;
    display: none;
    margin-top: 0.7em;
    padding: 30px 70px;
    position: fixed;
    right: 10em;
    text-align: center;
    color: grey;
}

.item:hover .isiItem{
    display: block;
    z-index: 10;
}

/* Mid navigation bar */
.midBar{
    padding: 1em 8em;
    box-shadow: 0px 2px 10px #ccc;
    z-index: -1;
}

.gend{
    margin-top: 1em;
    font-size: 1vw;
}

.form-control:focus {
    border-color: inherit;
    box-shadow: none;
}
.carousel{
    z-index: -4;
}

.carousel-inner{
    max-height: 32em;
    margin-bottom: 2em;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.boxb{
    background-color: white;
    border: 2px solid black;
    overflow: visible;
}

.boxf{
    background-color: white;
    border: 2px solid red;
}

.item-box{
    border: 7px solid #ccc;
    height: auto;
    width: 98%;
    overflow: hidden;
}

.item-box img{
    height: 100%;
    width: 100%;
}
.item-box img:hover{
    opacity: 0.5;
}

.ident{
    color: black;
    background-color: white;
    position: absolute;
    bottom: -20px;
    font-weight: bolder;
    font-size: large;
    width: 80%;
    padding: 0.5em 0;
    text-align: center;
}
.ident:hover{
    bottom: 10px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.7);
}

.tbox{
    padding: 1em;
    color: red;
    border-bottom: 0.5px solid #ccc;
}

.big{
    color: black;
    font-weight: bolder;
    font-size: 30px;
}

.tbox .item-box{
    height: 23em;
}

.tbox .item-box img:hover{
    opacity: 1;
}

@media screen and (max-width: 1300px){
    .navbar{
        padding-left: 3%;
    }
    .item{
        margin-right: 1em;
    }
    .isiItem{
        right: 1em;
    }
    .midBar{
        padding: 1em 0;
    }
}

@media screen and (max-width: 680px){
    .navbar{
        padding-left: 0;
        background-color:lightgrey;
    }
    .top-logo{
        width: 8em;
    }
    .nav-item{
        overflow: hidden;
    }
    .item{
        display: none;
    }
    .midBar{
        padding: 1.2em;
        padding-top: 0;
    }
    .logomidbar{
        text-align: center;
    }
    .gend{
        display: none;
    }