body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar1{
    width: 100%;
    height: 45px;
    background-color: #7a7a7a;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    float: left;
}

.logo1{
    float: left;
    height: 100%;
    width: 7%;
    margin-left: 9%;
    display: block;
    position: relative;
}

.logo{
    float: left;
    height: 100%;
    width: 7%;
    padding: 0px 5px;
    display: block;
    position: relative;
}

.item{
    right: 10%;
    padding: 10px 0;
    width: 10%;
    display: block;
    position: absolute;
    background-color: #e5202a;
    color: white;
    text-align: center;
}

.item a{
    text-decoration: none;
    color: white;
}

.isiItem{
    display: none;
    padding: 31px 70px;
    background-color: white;
    color: #ccc;
    border: 1px solid #ccc;
    position: fixed;
    margin-top: 13px;
    right: 10%;
    box-shadow: 0px 2px 5px #ccc;
}

.item:hover .isiItem{
    display: block;
    z-index: 10;
}

.active{
    background-color: white;
}

.navbar1 img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    margin-top: 5%;
}

.navbar2{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 45px;
    left: 0;
    background-color: white;
    float: left;
}

.biglogo{
    float: left;
    margin-left: 8%;
    display: block;
    position: relative;
    margin-top: 0.5%;
}

.contact p{
    position: fixed;
    right: 2.3%;
    bottom: 5%;
    font-size: 15px;
    z-index: 2;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.icontact{
    position: fixed;
    right: 2%;
    bottom: 2%;
    font-size: 75px;
    color: #e65749;
    z-index: 1;
}

.category{
    float: left;
    display: block;
    width: 5%;
    padding: 29px 0;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.category .fas{
    color: red;
}

#submitButton{
    font-family: FontAwesome;
}

.search{
    float: left;
    margin-left: 65%;
    width: 200px;
    top: 30px;
    display: block;
    position: absolute;
}

.ftext input[type=text]{
    border-radius: 0%;
    border: 1px solid #ccc;
    border-right: 0;
    padding: 3.5%;
    width: 100%;
    color: #ccc;
}

.ftext input:active{
    border: none;
}

.search .ftext{
    float: left;
}

.search .sbut{
    float: left;
    border: 1px solid #ccc;
    color: #ccc;
    padding: 3%;
}

.bio{
    margin-left: 83%;
    top: 27px;
    width: 7%;
    position: absolute;
    z-index: 3;
}

.bio .fas{
    float: left;
    font-size: 30px;
    color: red;
    margin-top: 5px;
}

.bio .user{
    margin-left: 10px;
    margin-top: 1.5px;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.slideshow-container{
    width: 100%;
    top: 126px;
    position: absolute;
    left: 0;
    float: left;
    z-index: -1;
}

.slideshow-container .pic{
    width: 100%;
}

.batas{
    width: 80%;
    position: absolute;
    margin: 45% 10%;
}

.garisbatas{
    float: left;
    width: 30%;
}

.garisbatas hr{
    margin-top: 7%;
}

.isibatas{
    float: left;
    width: 40%;
}

.kotakbatas{
    border: 2px solid red;
    margin: 0 15%;
    margin-top: 0%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

#yo{
    margin-top: 49%;
    margin-left: 36.5%;
    margin-right: 36.5%;
    position: absolute;
    text-align: center;
    color: grey;
}

.produk{
    position: absolute;
    width: 80%;
    margin: 55% 10.5%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3%;
}

.produkbox{
    float: left;
    border: 6px solid #ccc;
    width: 23%;
    margin-right: 1%;
    height: 400px;
    overflow: hidden;
}

.produkbox img:hover{
    background-color: white;
    opacity: 0.7;
}

.minibox{
    background-color: white;
    position: absolute;
    color: black;
    padding: 10px 20px; 
    width: 15%;
    margin-left: 2%;
    margin-top: -3.5%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.minibox:hover{
    margin-top: -5%;
    transition: 1s;
    opacity: 0.7;
}

.boxnews{
    position: absolute;
    margin-top: 87%;
    margin-left: 12%;
    width: 80%;
}
.row1{
    line-height: 0;
    color: red;
    font-size: 15px;
    text-align: center;
}

.col1{
    width: 27%;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-right: 3%;
}

#bigfont{
    font-size: 25px;
    color: black;
    font-weight: bolder;
}

.row2{
    width: 100%;
    margin-top: 10%;

}

.col2{
    float: left;
    border: 6px solid #ccc;
    width: 30%;
    margin-right: 25px;
    overflow: hidden;
    height: 370px;
}

.date{
    color: white;
    position: absolute;
    margin-top: -30%;
    margin-left: 1%;
    padding: 15px 10px 5px 10px;
    background-color: #da1818;
    font-weight: bold;
    line-height: 3px;
    font-size: 15px;
}

.date p{
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.row3{
    margin-top: 43%;
}

.col3{
    padding-right: 40px;
    float: left;
    width: 30%;
    overflow: hidden;
    height: 370px;
    font-size: 20px;
}

.col3 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a.red{
    color: red;
    font-weight: lighter;
    font-size: 15px;
}

.col3 a:hover{
    text-decoration: underline;
}

.col3 p{
    color: rgb(143, 143, 143);
    font-size: 13px;
}

.footer1{
    left: 0;
    margin-top: 135%;
    width: 100%;
    background-color: #ccc;
    position: absolute;
    padding: 3% 0;
}

.langgananbox{
    width: 80%;
    margin: 0 10% 0 20%;
}

.langganan{
    float: left;
    font-weight: bolder;
    font-size: 20px;
}

.langganan input[type=email]{
    padding: 10px 60% 10px 20px;
    border: 1px solid #ccc;
    margin-top: 0;
    color: #ccc;
}

.langganan input:focus{
    outline: 1px solid #ccc;
    resize: none;
}

.langganan a{
    font-size: 13px;
    text-decoration: none;
    color: white;
    padding: 10px 40px;
}

.footer2{
    left: 0;
    width: 100%;
    position: absolute;
    margin-top: 143%;
    background-color: black;
    color: white;
    height: 490px;
    font-size: 12px;
    font-weight: bold;
}

.footer2box{
    margin-top: 3%;
    width: 70%;
    margin-left: 10%;
}

.footer2 a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

.footer2 a:hover{
    text-decoration: underline;
}

.fbox1{
    float: left;
    width: 19%;
}

.fbox1 img{
    width: 100%;
    height: auto;
}

.footer3{
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 175%;
    background-color: #ccc;
    text-align: center;
    font-size: 10px;
    padding: 10px 0;
}